.page {
    width: 100%;
    min-height: 100vh;
}

.page .intro {
    text-align: center;
}

.page .seg1 .content img,
.page .seg2 .content img {
    width: 40%;
    height: auto; 
}

.page .seg1 .content,
.page .seg2 .content {
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
}


.page .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: 3rem auto;
}

.page .footer code {
    white-space: pre-wrap;
    font-size: 1.5em;
}

.page .footer img {
    height: 10rem;
    width: auto;
}

.page .footer .logo {
}

@media only screen and (max-width: 900px) {
    .page .seg1 .content img,
    .page .seg2 .content img {
        width: 70%;
        height: auto; 
    }

    .page .seg1 .content,
    .page .seg2 .content {
        flex-direction: column;
    }

}
