.page {
    width: 100%;
    min-height: 100vh;
}

.page .intro {
    text-align: center;
}

.page .seg1 .content img {
    width: 100%;
    height: auto; 
    max-width: 25rem;
    float: left;
    margin: 0 2rem 1rem 0;
}

.page .seg1 .content {
    display: block;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
}

.page .footer {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 3rem auto;
}

.page .footer code {
    white-space: pre-wrap;
    font-size: 1.5em;
}

.page .footer img {
    height: auto;
    max-width: 30rem;
    width: 100%;
}

.page .footer .logo {
}


.page .seg6 {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.page .map {
    border: 0;
    flex: 1;
    width: 100%;
}

.page .seg6 > div {
    width: 30rem;
}


@media only screen and (max-width: 1200px) {
    .page .seg6 {
        flex-direction: column;
        height: 40rem;
    }
}

@media only screen and (max-width: 1000px) {
    .page .footer {
        flex-direction: column;
    }
}
