.form {
    width: 100%;
}

.form h1 {
    margin: 0 0 1.5rem 0;
}

.form input,
.form textarea,
.form button {
    font-weight: 300;
    width: 100%;
}

.form button {
    margin: 1.5rem 0;
}

.form input,
.form textarea {
    margin: 0.5rem 0;
}

.form textarea {
    resize: none;
}
