.item {
}

.item h3 {
    cursor: pointer;
    margin: 1rem 0;
}

.item .answer {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}

.item.open .answer {
    grid-template-rows: 1fr;
}

.item .answer .inner {
    overflow: hidden;
}

.item .answer .inner p {
    margin: 0;
}
