.container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 3rem auto;
}

.container code {
    white-space: pre-wrap;
    font-size: 1.3em;
}

.container img {
    height: auto;
    max-width: 20rem;
    width: 100%;
}

.container  .logo {
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: start;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}
